{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Your Shopping List</h1>
    <ul>
        {% for item in shoppingitem_list %}
            <li> {{item.food_item}}</li>
        {% endfor %}
    </ul>
</main>
<div>    
<form method = "post" action = {% url 'shopping_items_delete'%}>
        {%csrf_token%}
        <button class = "button"> Delete All
        </button>
</div>
{% endblock content %}